<div class="modal-header">
  <h4 class="modal-title">{{ l('CreateHomeBanner') }}</h4>
</div>

<div class="modal-body">
  <form>
    <div class="form-group">  
      <label>{{ l('NameAr') }}</label>
      <input class="form-control" [(ngModel)]="banner.nameAr" name="nameAr" />
    </div>
    <div class="form-group">
      <label>{{ l('NameEn') }}</label>
      <input class="form-control" [(ngModel)]="banner.nameEn" name="nameEn"/>
    </div>

<div class="form-group row ">
       <label class="col-md-3 col-form-label" for="imageUrl"> {{ "Image" | localize }} </label>
       <div class="col-md-9">
           <app-file-uploader [imagePreview]="imagePreview" (fileSelected)="onFileUploaded($event)"></app-file-uploader>

       </div>
   </div>
<div class="form-group row ">
       <label class="col-md-3 col-form-label" for="logoUrl"> {{ "Logo" | localize }} </label>
       <div class="col-md-9">
           <app-file-uploader [imagePreview]="logoPreview" (fileSelected)="onLogoUploaded($event)"></app-file-uploader>

       </div>
   </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" (click)="save()" [disabled]="saving">
    {{ l('Save') }}
  </button>
  <button class="btn btn-secondary" (click)="bsModalRef.hide()">
    {{ l('Cancel') }}
  </button>
</div>