<form class="form-horizontal"
      autocomplete="off"
      #contentForm="ngForm"
      (ngSubmit)="save()">
    <abp-modal-header [title]="'Question' | localize"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
      
            
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="name">
                        {{ "QuestionAr" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="nameAr"
                               id="nameAr"
                               required
                               minlength="2"
                      
                               [(ngModel)]="content.nameAr"
                               #nameArModel="ngModel"
                               #nameArEl />
                        <abp-validation-summary [control]="nameArModel"
                                                [controlEl]="nameArEl"></abp-validation-summary>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="displayName">
                        {{ "QuestionEn" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="nameEn"
                               id="nameEn"
                               required
                               minlength="2"
                        
                               [(ngModel)]="content.nameEn"
                               #nameEnModel="ngModel"
                               #nameEnEl />
                        <abp-validation-summary [control]="nameEnModel"
                                                [controlEl]="nameEnEl"></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="name">
                        {{ "AnswerAr" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="descriptionAr"
                               id="descriptionAr"
                               required
                               minlength="2"
                         
                               [(ngModel)]="content.descriptionAr"
                               #descriptionArModel="ngModel"
                               #descriptionArEl />
                        <abp-validation-summary [control]="descriptionArModel"
                                                [controlEl]="descriptionArEl"></abp-validation-summary>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="displayName">
                        {{ "AnswerEn" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="descriptionEn"
                               id="descriptionEn"
                               required
                               minlength="2"
                             
                               [(ngModel)]="content.descriptionEn"
                               #descriptionEnModel="ngModel"
                               #descriptionEnEl />
                        <abp-validation-summary [control]="descriptionEnModel"
                                                [controlEl]="descriptionEnEl"></abp-validation-summary>
                    </div>
                </div>

            <div class="form-check mb-3">
      <input
        id="isActive"
        name="isActive"
        type="checkbox"
        class="form-check-input"
        [(ngModel)]="content.isActive"
      />
      <label for="isActive" class="form-check-label">{{ l('IsActive') }}</label>
    </div>
        
    </div>
    <abp-modal-footer [cancelDisabled]="saving"
                      [saveDisabled]="!contentForm.form.valid || saving"
                      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
